<!DOCTYPE html>
<html>

<head>

<title>{{ product[1] }}</title>

<style>

body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
    padding:30px;
}

.card{
    max-width:700px;
    margin:auto;
    background:#1e293b;
    padding:30px;
    border-radius:10px;
}

img{
    width:300px;
    border-radius:10px;
}

button{
    padding:12px 20px;
    background:#25D366;
    border:none;
    color:white;
    margin-top:20px;
    cursor:pointer;
    border-radius:5px;
}

</style>

</head>

<body>

<div class="card">

<h1>HYDRO SPARES DISTRIBUTORS</h1>

{% if product[4] %}
<img src="{{ url_for('static', filename='uploads/' + product[4]) }}">
{% endif %}

<h2>{{ product[1] }}</h2>

<p><b>Description:</b> {{ product[2] }}</p>

<p><b>Size:</b> {{ product[3] }}</p>

<button type="button" onclick="shareWhatsApp()">
Share on WhatsApp
</button>

</div>

<script>
<button type="button" onclick="shareWhatsApp()">
    Share on WhatsApp
</button>

<script>
function shareWhatsApp() {

    const productName = "{{ product[1] }}";
    const productSize = "{{ product[3] }}";

    const message =
        "HYDRO SPARES DISTRIBUTORS\n\n" +
        "Product: " + productName + "\n" +
        "Size: " + productSize + "\n\n" +
        window.location.href;

    const whatsappUrl =
        "https://wa.me/?text=" +
        encodeURIComponent(message);

    window.open(whatsappUrl, "_blank");
}
</script>
</body>
</html>
